<%- include("partials/header"); -%>

<div class="register-detail">
  <div class="card register-body mx-auto">
    <div class="card-body">
      <h1>Register an account</h1>
        <form action="/register" method="POST">
            <div class="mb-3">
                <label for="username" class="form-label">Enter your username or Roll No</label>
                <input type="text" class="form-control" name="username">
                <div id="emailHelp" class="form-text">Your attendance will display this name</div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" name="email">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="batch" id="exampleRadios1" value="2020CED" checked>
                <label class="form-check-label" for="exampleRadios1">
                  2020 CED
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="batch" id="exampleRadios1" value="2021COE">
                <label class="form-check-label" for="exampleRadios1">
                  2021 COE
                </label>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-original">Submit</button>
        </form>
    
    </div>

  </div>
</div>
<%- include('partials/footer'); -%>