<%- include("partials/header"); -%>

<form action="/submit" method="POST">
    <div class="form-group col-md-4">
        <label for="inputState1">Choose your batch</label>
        <select id="inputState1" name="batch" class="form-control">
          <option selected value="2020CED">2020 CED</option>
          <option value="2020CED">2021</option>
        </select>
      </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Course</label>
      <input type="text" class="form-control" id="formGroupExampleInput2"  name="course" placeholder="Enter your course">
    </div>
    <div class="form-group">
        <label for="exampleInput3">Deadline</label>
        <input type="number" class="form-control" id="exampleInput3" name="deadline" placeholder="Enter deadline by 24 Hours">
    </div>
    <div class="form-group">
        <label for="exampleInput4">Posted By</label>
        <input type="text" class="form-control" id="exampleInput4" name="postedby" value="<%= user.username  %>">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<%- include('partials/footer'); -%>